section  {
  background-size: cover;
  display: flex;
}

#bg_intro {
  background-image: var(--bg-intro);
  height: 1080px;

  header { 
    margin: 0 auto;
    align-items: center;

    .profile {
      padding-top: 140px;
      padding-bottom: 36px;
    }

    .subtitle {
      padding-bottom: 8px;
    }

    p:last-child {
      padding-top: 20px;
      max-width: 680px;
    }

    .span1 {
     color: var(--red);
    }

    .tag_icons {
      display: flex;
      align-items: center;
      
      padding-top: 80px;
      gap: 16px;
      font: var(--text-md);
    }

    
    .badge {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      padding: 10px 20px; 
      background-color: var(--gray-300); 
      border-radius: 50px;
      gap: 8px;
    }

    span {
      color: var(--gray-500);
    }

    .CaretDoubleDown {
      padding-top: 100px;
    }
  }
}

#bg_color1 {
  background-color: var(--gray-200);
  height: 920px;

  main {
    margin: 0 auto;
    display: flex;
  
    .subtitle {
      color: var(--red);
      padding-bottom: 8px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px; 

      padding-top: 56px;
    }

    .border_card {
      background-color: var(--gray-300);
      border-radius: 10px;
      padding: 20px;
      text-align: left;

      p {
        padding-top: 20px;
        padding-bottom: 8px;
        font: var(--h3);
        color: var(--gray-600);
      }

      span { 
        font: var(--text-sm);
        color: var(--gray-500);
      }

      img { 
        border-radius: 10px;
      }
    }
  }
}

#bg_color2 {
  background-color: var(--gray-100);
  height: 580px;
}

#bg_final {
  background-image: var(--bg-contacts);
  height: 1080px;
}